django
pillow
gunicorn
whitenoise
djangorestframework
rest_framework.authtoken
django_filters
dj_rest_auth
allauth
allauth.account
allauth.socialaccount
allauth.socialaccount.providers.google
dj_rest_auth.registration
corsheaders
